<div *ngIf="artist">

    <div class="col-md-10 col-md-offset-2">
        <header class="artist-header">
            <div *ngIf="artist.images.length > 0">                
                <img class="artist-thumb img-circle" src="{{artist.images[0].url}}">
            </div>
        </header>
        <h1>{{artist.name}}</h1>
        <p *ngIf="artist.genres.length > 0">
            <span *ngFor="let genre of artist.genres">{{ genre }}</span>
        </p>
    </div>

    <div class="artist-albums">
        <div class="row">
            <div *ngFor="let album of albums">
                {{ album.name }}
            </div>
        </div>
    </div>

</div>