<h1>About Humen</h1>

<p>
    The Humen, known historically by Europeans as the Bocca Tigris or Bogue, is a narrow strait in the Pearl River Delta that separates Shiziyang in the north and Lingdingyang in the south near Humen Town in China's Guangdong Province. It is the site of the Pearl River's discharge into the South China Sea. It contains the Port of Humen at Humen Town. The strait is formed by the islands of Chuenpi (穿鼻, p Chuanbi) and Anunghoy (阿娘鞋, p Aniangxie; also called 威远, p Weiyuan) on the eastern side, and Taikoktow (大角头, p Dajiaotou) on the western side.[1] Since 1997, the strait has been traversed by
</p>